## Settings file was created by plugin TAIGU.QuickOrganization v1.0.3
## Plugin GUID: TAIGU.QuickOrganization

[General]

## The key to open/close the organization menu (Unity KeyCode name)
# Setting type: String
# Default value: Equals
MenuKey = Equals

